@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.cdnfonts.com/css/gotham-bold');
@import url('https://fonts.cdnfonts.com/css/century-gothic');
@import url('https://fonts.cdnfonts.com/css/roboto');
#top{
    padding-top: 450px;
    padding-bottom: 450px;
    background-image: url("/img/about/MainPoster.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    top: 0;
    left: 0;
    background-color: #efeeec;
    position: relative;
}
#box2{
    height: 12vh;
    background: linear-gradient(to bottom, #efeeec 10%, transparent 100%);
    
}
#performance, #power, #premium{
    padding-top: 200px;
    padding-bottom: 200px;

    .row{
        .col-12{
            h1{
                text-transform:uppercase;
                font-size: clamp(2rem, 2rem + 4vw, 5rem);
                text-align: left;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
        }
        .col{
            
            .btn{
                background-color: #feb619;
                font-size: clamp(0.7rem , 0.8rem + 4vw, 2.25rem);
                border:2px solid black;
                box-shadow: 5px 10px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
            .btn:hover{
                background-color: #ce9316;
                color: white;
                box-shadow: 0 5px;
            }
            .btn:active{
                color: white;
                background-color: #a07414;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }
    }
}
#power{
    padding-top: 200px;
    padding-bottom: 200px;

    .row{
        .col-12{
            h1{
                text-transform:uppercase;
                font-size: clamp(2rem, 2rem + 4vw, 5rem);
                text-align: right;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
        }
        .col{
            
            .btn{
                background-color: #feb619;
                font-size: clamp(0.7rem , 0.8rem + 4vw, 2.25rem);
                border:2px solid black;
                box-shadow: 5px 10px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
            .btn:hover{
                background-color: #ce9316;
                color: white;
                box-shadow: 0 5px;
            }
            .btn:active{
                color: white;
                background-color: #a07414;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }
    }
}

#footer{
    padding-top: 20vh;
    padding-bottom: 10vh;
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    #menu, #classes, #partners{
        display: none;
    }
    .col{
        h5{
            font-size: 24px;
        }
        ol{
            padding-left: 0;
            list-style-position: inside;
            li{
                list-style: none;
                font-size: 16px;
                margin-bottom: 6px;
            }

        }
    }
    #social{
        margin-left: auto;
        margin-right: auto;
        .col{
            h5{
                text-align: center;
                font-size: clamp(1rem, 0.5rem + 4vw, 3rem);
                font-family: 'Century Gothic', sans-serif;
            }
            img{
                display: block;
                height: auto;
                width: clamp(16rem, 2rem + 3vw, 25rem);
                margin-left: auto;
                margin-right: auto;
            }   
            .box{
                text-align: center;
            }
        }
    }

    @include media-breakpoint-up(xl){
        #menu, #classes, #partners{
            display: block;
        }
    }
}