@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Montserrat:wght@700&display=swap');

body{
    background-image: url("/img/Background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    height: auto;
    overflow-x: hidden;
    cursor: default;
}

#div1{
    height: 65vh;
    padding-top: 15%;
    overflow: hidden;
    z-index: 1;
    h5{
        font-size: 40px;
        font-family: 'Gothic A1', sans-serif;
    }
    h1{
        font-size: 64px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
}
#div2{
    background: linear-gradient(to top, #1fa78c 18%, transparent 93%);
    height: 20vh;

    h5{
        text-align: center;
        color: white;
        margin-top: 3%;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
#div3{
    background-color: #1fa78c;
    height: 80vh;

    .row{
        padding: 20px;
        gap: 10px;
        .col{
            overflow: hidden;
            height: 450px;
            width: 400px;
        }
        #dancing{
            background:url('/img/dancing.png'), linear-gradient(0deg, rgba(254, 182, 25, 1),rgba(254, 182, 25, 1));
            background-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
            h1{
                font-size: 60px;
                margin-top: 50%;
                color: white;
                text-align: center;
                text-transform: uppercase;
            }
        }
        #singing{
            background-image: url("/img/singing.png");
            background-size: 150%;
            background-position: top center;
            background-repeat: no-repeat;
        }
    }
}