@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Montserrat:wght@700&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    position: relative;
    z-index: 3;
    background-color: transparent;
    top: 0;
    .navbar-toggler{
        color: white;
        background-color: white !important;
    }
    .container{
        border-radius: 0 0 10% 10%;
        transition: 720ms;
        .navbar-brand{
            img{
                height: auto;
                width: 100px;
            }
        }
        .collapse{

            .navbar-nav{
    
                .nav-item{
           
                    .nav-link{
                        border: 1px solid none;
                        font-family: 'Roboto', sans-serif;
                        margin-left: 0;
                        transition: 0.5;
                        white-space: nowrap;
                        @include media-breakpoint-up(lg){
                            color: white;
                            width: 120px;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                    .nav-link:hover{
                        color: #feb619;
                        border-bottom: 1px solid #feb619;
                    }
                }
            }
        }
    }

}

