@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import url('https://fonts.cdnfonts.com/css/gotham-bold');
@import url('https://fonts.cdnfonts.com/css/century-gothic');
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/odin-rounded');

body{
    background-color: #f7f7f7;
    overflow-x: hidden;
}
main{
    padding-top: 300px;
    padding-bottom:300px;
    background-image: url("/img/about/MainPoster.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 85%;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
        padding-top: 200px;
        padding-bottom:200px;
    }
    .container{
        overflow: hidden;
        h1{

            font-family: 'Gotham Bold', sans-serif;
            font-size: clamp(2rem, 2rem + 5vw, 18rem);
            font-weight: 700;
            text-transform: uppercase;
            color: white;
            text-shadow: 10px 4px #000000;
            letter-spacing: -1px;
        }
        p{
            color: #e6e3e3;
        }
        
        
    }

}
.performance{
    z-index: 1;
    background-color: #ff6c6c;
    #content{
        
        #theaterImg{
            background-image: url("/img/theater.webp");
            background-size: cover;
            background-position-y: 70%;
            background-position-x: 70%;
        }
        #danceImg{
            background-image: url("/img/dancingbg.webp");
            background-size: cover;
        }
        #musicImg{
            background-image: url("/img/musicbg.webp");
            background-size: cover;
            background-position-x: center;
        }
    }
}
.power{
    z-index: 2;
    background-color: #1EB6B7;
    #content{
        position: relative;
        
        .row{
            #PublicSpeakingImg{
                background-image: url("/img/publicspeaking.webp");
                background-size:cover;
                background-repeat: no-repeat;
                background-position-y: 4%;
            }
            #ModelingImg{
                background-image: url("/img/modelingbg.webp");
                background-size:cover;
                background-repeat: no-repeat;

            }
         
        }
    }
}
.premium{
    background-color: #762797;
    #content{
        position: relative;
        color: black;
        .row{
            #summerstockImg{
                background-image: url("/img/summerstock.webp");
                background-size:cover;
                background-repeat: no-repeat;
                background-position-y: 4%;
            }
            #playhouseImg{
                background-image: url("/img/playhouse.webp");
                background-size:cover;
                background-repeat: no-repeat;
                background-position: center;

            }
            #adpImg{
                background-image: url("/img/adp.webp");
                background-size:cover;
                background-repeat: no-repeat;
                background-position: center;

            }
            #summerstockText{
                
                @include media-breakpoint-up(xl){
                    padding-top: 5% !important;
                }
            }           
        }
    }

    
}
.performance, .power, .premium{
    position: relative;
    #title{
        padding-top: 200px;
        #img{
            img{
                height: clamp(15em, 15em + 10vw, 30em);
                border-radius: 20px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        h1{
            text-transform: uppercase;
            font-size: clamp(2rem, 10vw, 3.3rem);
            font-family: 'Gotham Bold', sans-serif;
            color: white;
            margin-top: 15%;
        }
        p{
            font-size: clamp(0.8rem, 4vw, 1rem);
            text-justify:inter-word;
            text-align: justify;
            color: white;
        }
    }
    #content{

        .row{
            .col{
                height: 500px;
                background-color: white;
            }
        }
        #summerstockText, #playhouseText, #adpText, #PublicSpeakingText, #ModelingText, #theaterText, #danceText, #musicText{
            padding-top:20%;   
            @include media-breakpoint-up(xl){
                 padding-top: 8%;
            }
            h1{
                text-align: center;
                font-size: clamp(1.5rem, 5vw, 3rem);
                font-weight: 700;
                font-family: 'Gotham Bold', sans-serif;
            }
            .container{
                min-width: 300px;
                max-width: 600px;
            }
            .btn{
                background-color: #feb619;
                box-shadow: 5px 5px;                
            }
        }
    }
}
footer{
    z-index: 2;
    position: relative;
}

img{
    pointer-events: none;
}
#myBtn{
    position: fixed;
    bottom: 3em;
    right: 3em;
    display: none;
    z-index: 123242;
}